@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url(reset.css);
@import url(variableds.css);

/* components */
@import url(components/statusbar.css);
@import url(components/nav-bar.css);
@import url(components/screen-header.css);
@import url(components/user-component.css);
/* screens */
@import url(screens/login.css);
@import url(screens/friends.css);
body{
    font-family: 'Rajdhani', sans-serif;
    color: #2e363e;
}

/* raw code by Nh 23.02.27
body{
    height: 100vh;
    

}
.statusbar{
    display: flex;
    justify-content: space-between;

}
#battery{
    color: red;
}
.contents{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contents__welcome{
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 15px;
}
.contents__announce{
    font-size: 1.5em;
    font-weight: 200;
    color: rgb(128, 128, 128);
    margin-bottom: 80px;
    
}
.contents__announce >span{
    display:block;
    text-align: center;

}
.btn, .account__input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
  
}
#account, #password{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid  rgba(169, 169, 169, 0.634) ;
}
#account::placeholder, #password::placeholder{
    color:rgba(169, 169, 169, 0.5);
    font-weight: 50;
}
.btn{
   
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btn > button, a {
    width: 100%;
    margin: 5px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: none;
    background-color: rgba(169, 169, 169, 0.101) ;
}

#btn__find{
    background-color:rgb(0, 0, 0, 0);
    font-size: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
} */